body{
    
    background-image: url(../imagenes/desk-600482_1280.jpg);
    background-size: 130%;
    
}

.formularios{
    padding-top: 10px;
    padding-bottom: 10px;
}
.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1030;
}